<h1 id="new_user_title">編集ユーザーログイン</h1>

<%= form_tag sessions_path, :method => :post, class:"pure-form  pure-form-stacked" do %>
  <%= label_tag :name %>
  <%= text_field_tag(:name, "", id:"user_name") %>

  <%= label_tag :password %>
  <%= password_field_tag(:password, "", id:"user_password") %>

  <%= submit_tag "Log in", class: "pure-button pure-button-primary" %>
<% end %>

<h4 class="alert">パスワードを忘れた場合はこちらから</h4>
<%= render 'forgot_password_form' %>