<%= form_for(relation) do |f| %>
  <%= render 'shared/error_messages' %>
  <section id="setsyn">
  	<h4>・新たに類義語にする単語を指定</h4>
  	<p><input type="button" value="検索" id="opensyn" onclick="window.open('<%= relations_synsub_path %>', 'sub', 'width=640,height=480'); return false;"></p>
  	<table>
  	  <tr>
  	  	<th>分類名</th>
	  	  <th>単語</th>
	  	  <th>品詞</th>
	  	  <th>意味</th>
  	  </tr>
  	  <tr>
  	  	<%= f.hidden_field :rel_id, id:"syn_relid" %>
        <% if params[:action] == "new" %>
          <% strWordId = params[:format] %>
        <% elsif params[:action] == "edit" %>
          <% strWordId = params[:id] %>
        <% end %>  
  	  	<%= f.hidden_field :word_id, :value => strWordId %>
  	  	<%= f.hidden_field :syn_ant_cd, :value => 1 %>
  	  	<td><%= f.text_field :type_name, id:"syn_type", readonly: true %></td>
  	    <td><input type="text" id="syn_word" readonly="true" /></td>
  	    <td><input type="text" id="syn_pos" readonly="true" /></td>
  	    <td><input type="text" id="syn_meaning" readonly="true" /></td>
  	  </tr>
  	</table>
  </section>
  <%= f.submit "類義語登録", class: "btn btn-primary kakutei" %>
<% end %>