<h1><%= params[:titleWrd] %>：対義語登録/修正</h1>

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
  <ul class="pure-menu-list">
  	<% params[:id] ||= @relation.word_id %>
    <li class="pure-menu-item"><%= link_to "単語", edit_word_path(params[:id], :exp_flg => params[:exp_flg]), class: "pure-menu-link" %></li>
    <% if @relations.present? %>
      <li class="pure-menu-item"><%= link_to "類義語", edit_relation_path(params[:id], titleWrd: params[:titleWrd], :exp_flg => params[:exp_flg], :plural_flg => params[:plural_flg]), class: "pure-menu-link" %></li>
    <% else %>
      <li class="pure-menu-item"><%= link_to "類義語", new_relation_path(params[:id], titleWrd: params[:titleWrd], :exp_flg => params[:exp_flg], :plural_flg => params[:plural_flg]), class: "pure-menu-link" %></li>
    <% end %>
    <li class="pure-menu-item pure-menu-disabled">対義語</li>
    <% if params[:plural_flg] == "1" %>
      <li class="pure-menu-item pure-menu-disabled">複数形登録</li>
    <% end %>
  </ul>
</div>

  <% if @relations.present? %>
    <%= render partial: 'syn_detail', locals: {relations: @relations} %>
  <% else %>
    <section id="syn_detail">
	  <h4>・現在、対義語なし</h4>
	</section>	
  <% end %>

  <%= render partial: 'relations/antonym_form', locals: {relation: @relation} %>

<%= render 'relations/tooltips' %>