<h1>類義語登録/修正</h1>
<div class="row">
<% if logged_in? %>
<div class="col-md-6 col-md-offset-3">
  <ul class="nav nav-tabs">
  	<% params[:id] ||= @relation.word_id %>
    <li><%= link_to "単語", edit_word_path(params[:id]) %></li>
    <li class="active"><%= link_to "類義語/対義語", "#" %></li>
    <li><a href="#">複数形登録</a></li>
  </ul>
  <section id="syn_detail">
  	<% cnt = 0 %>
	<% strLnk = "#disp" %>
	<% strOpp = "#opps" %>
	<% @relations.each do |rel| %>
	  <% case rel.syn_ant_cd %>
	  <% when 1 %>
		<p>
		<%= link_to "類義語詳細", strLnk + cnt.to_s, class:"clickToolTip", remote: true %>
		分類名：<%= rel.type_name %>
		</p>
		<ul id="<%= strLnk.delete("#") + cnt.to_s %>" class="toolTip invisible">
	  	<% rel.word_list(1, rel.rel_id).each do |syn| %>
	  	  <li><%= syn.word %>　<%= syn.meaning %></li>
	  	<% end %>
	  	</ul>
	  <% when 2 %>
		<p>
		<%= link_to "対義語詳細", strOpp + cnt.to_s, class:"clickToolTip", remote: true %>
		分類名：<%= rel.type_name %>
		</p>
		<ul id="<%= strOpp.delete("#") + cnt.to_s %>" class="toolTip invisible">
	  	<% rel.word_list(2, rel.rel_id).each do |syn| %>
	  	  <li><%= syn.word %>　<%= syn.meaning %></li>
	  	<% end %>
	  	</ul>
	  <% end %>
	  <% cnt += 1 %>
	<% end %>
	<p>※詳細をクリックで類義語/対義語となっている単語を確認</p>
  </section>

  <%= render partial: 'relations/relation_form', locals: {relation: @relation} %>

</div>
<% else %>
  変更/修正を行うときはログインしてください。
<% end %>
</div>

<%= render 'relations/tooltips' %>