<h1><%= params[:titleWrd] %>：類義語登録/修正</h1>

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
<ul class="pure-menu-list">
	<% params[:format] ||= @relation.word_id %>
  <li class="pure-menu-item"><%= link_to "単語", edit_word_path(:id => params[:format], :exp_flg => params[:exp_flg]), class: "pure-menu-link" %></li>
  <li class="pure-menu-item pure-menu-disabled">類義語</li>
  <li class="pure-menu-item"><%= link_to "対義語", edit_antonym_relation_path(params[:format], titleWrd: params[:titleWrd], :exp_flg => params[:exp_flg], :plural_flg => params[:plural_flg], :plural_flg => params[:plural_flg]), class: "pure-menu-link" %></li>
  <% if params[:plural_flg] == "1" %>
    <li class="pure-menu-item pure-menu-disabled">複数形登録</li>
  <% end %>
</ul>
</div>

<h4>・現在、類義語なし</h4>

<%= render partial: 'relations/relation_form', locals: {relation: @relation} %>


<%= render 'relations/tooltips' %>