<h1><%= params[:titleWrd] %>：類義語登録/修正</h1>
<div class="container">
<% if logged_in? %>
<div class="col-md-6 col-md-offset-3">
  <ul class="nav nav-tabs">
  	<% params[:format] ||= @relation.word_id %>
    <li><%= link_to "単語", edit_word_path(:id => params[:format], :exp_flg => params[:exp_flg]) %></li>
    <li class="active"><%= link_to "類義語", "#" %></li>
    <li><%= link_to "対義語", edit_antonym_relation_path(params[:format], titleWrd: params[:titleWrd], :exp_flg => params[:exp_flg], :plural_flg => params[:plural_flg], :plural_flg => params[:plural_flg]) %></li>
    <% if params[:plural_flg] == "1" %>
      <li><a href="#">複数形登録</a></li>
    <% end %>
  </ul>

  <h4>・現在、類義語なし</h4>

  <%= render partial: 'relations/relation_form', locals: {relation: @relation} %>

</div>
<% else %>
  変更/修正を行うときはログインしてください。
<% end %>
</div>

<%= render 'relations/tooltips' %>