<!--h1>Lessons#home</h1-->
<div class="container">
  <div class="row" id="list">
    <%= link_to "単元別単語一覧メニュー", lessons_path %>
  </div>
  <div class="row">
    <%= form_tag("/words", method: "get") do %>
      <fieldset>
        <legend>単語検索メニュー</legend>
        <!--p>
          検索メニュー:
          <select id="dictionary">
            <option type="submit" class="btn btn-default" id="arabic">単語検索</option>
            <option type="submit" class="btn btn-default" id="chinese">類義語検索</option>
            <option type="submit" class="btn btn-default" id="classification">対義語検索</option>
          </select>
        </p-->
        <p>
          <%= text_field_tag(:srchWrd, "", placeholder: "アラビア語または日本語を入力", class:"form-control", id:"search", autofocus:true) %>
        </p>
        <%= submit_tag("submit", class:"btn btn-default", id:"search-btn") %>
      </fieldset>
    <% end %>
  </div>
  <div class="row">

  <%if false %>
  <% if !@relations.nil? %>
    <%= render synonym_word_path %>
  <% end %>
  <% end %>

  <% if !@words.nil? %>
    <p>類義語：<%= link_to @words.first.cntSynm(1, @words.first.id).count, "#" %>件　
    対義語：<%= link_to  @words.first.cntSynm(2, @words.first.id).count, "#" %>件</p>
    <table class="table results">
      <thead>
      <tr>
        <th>単語</th>
        <th>読み</th>
        <th>品詞</th>
        <th>意味</th>
        <th>語根</th>
        <th>LV</th>
        <th>科目</th>
        <th>単元</th>
        <th>例文</th>
      </tr>
      </thead>
      <%= render @words %>
    </table>
  <% end %>
  </div>
</div>
