<!--h1>Lessons#home</h1-->
<div class="container">
  <div class="row">
    <!--form-->
    <%= form_tag("/words", method: "get") do %>
      <fieldset>
        <legend>単語検索メニュー</legend>
        <!--p>
          検索メニュー:
          <select id="dictionary">
            <option type="submit" class="btn btn-default" id="arabic">単語検索</option>
            <option type="submit" class="btn btn-default" id="chinese">類義語検索</option>
            <option type="submit" class="btn btn-default" id="classification">対義語検索</option>
          </select>
        </p-->
        <p>
          <%= text_field_tag(:srchWrd, "", placeholder: "アラビア語または日本語を入力", class:"form-control", id:"search", autofocus:true) %>
        </p>
        <%= submit_tag("submit", class:"btn btn-default", id:"search-btn") %>
      </fieldset>
    </form>
  </div>
  <div class="row" id="list">
    <%= link_to "単元別単語一覧メニュー", lessons_path %>
  </div>
  <div class="row">
    <!--table class="table results">
      <thead>
      <tr>
      <th>単語</th>
      <th>読み</th>
      <th>品詞</th>
      <th>意味</th>
      <th>語根</th>
      <th>LV</th>
      <th>科目</th>
      <th>単元</th>
      <th>例文</th>
      </tr>
      </thead>
      <% if false %>
      <% @words.each do |word| %>
      <tr>
        <td><%= word.word %></td>
        <td><%= word.word_with_pron %></td>
        <td><%= word.word_pos %></td>
        <td><%= word.meaning %></td>
        <td><%= word.root %></td>
      </tr>
      <% end %>
      <% end %>
    </table-->
  </div>
</div>
