<%#= form_tag(words_path, method: "get", class:"pure-form pure-form-stacked") do %>
<%= search_form_for @q, url: words_path, method: :get, class: "" do |form| %>
  <fieldset>
    <legend><%= action_title(params[:action]) %></legend>
    <%# if params[:action] == "home" %>
    <%= form.search_field :word_cont, placeholder: "アラビア語または日本語を入力", id:"search", class:"pure-input-2-3 pure-input-rounded", autofocus: true %>
    <%= form.submit "通常検索", class: "button is-primary", id:"search-btn" %>
    <%#= submit_tag("日本語検索", class: "button is-info", name:"srch_in_jpn") %>
    <div class="tbl_space">
      <%= link_to "※アラビア語の入力方法について", "https://tori-kichi.com/blog/?p=1315", class: "button is-white", target:"_blank" %>
    </div>
    <%# end %>
  </fieldset>
<% end %>

<% if @words.present? %>
  <%= page_entries_info @words %>
  <table id="srch_result" class="pure-table pure-table-horizontal">
    <thead>
    <tr>
      <th>単語</th>
      <th>読み</th>
      <th>品詞</th>
      <th>意味</th>
      <% if params[:action] != "words_roots" %>
        <th>語根</th>
      <% end %>
      <th>複数 / 単数</th>
      <% if params[:action] != "synonym" %>
        <th>類義語</th>
      <% end %>
      <th>対義語</th>
      <th>例文</th>
      <th>登場箇所</th>
      <% if logged_in? %>
        <th></th>
      <% end %>
    </tr>
    </thead>
    <%= render @words %>
  </table>
  <%= paginate @words %>
<% end %>
