<h2 class="page-header">LESSON別メニュー</h2>

<div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-2">
    <%= image_tag("cover1", alt:"LEVEL 1", class:"pure-img") %>
    <h3>LV1</h3>
    <ul>
      <li><%= link_to CATEGORY1+"　"+CATEGORY1_AR, lesson_path(:id => 1, :lv => 1, :category => 1) %></li>
      <li><%= link_to CATEGORY2+"　"+CATEGORY2_AR, lesson_path(:id => 1, :lv => 1, :category => 2) %></li>
      <li><%= link_to CATEGORY3+" "+CATEGORY3_AR, lesson_path(:id => 1, :lv => 1, :category => 3) %></li>
      <li><%= link_to CATEGORY5+"　"+CATEGORY5_AR, lesson_path(:id => 1, :lv => 1, :category => 5) %></li>
    </ul>
  </div>
  <div class="pure-u-1 pure-u-sm-1-2">
    <%= image_tag("cover2", alt:"LEVEL 2", class:"pure-img") %>
    <h3>LV2</h3>
    <ul>
      <li><%= link_to CATEGORY1+"　"+CATEGORY1_AR, lesson_path(:id => 1, :lv => 2, :category => 1) %></li>
      <li><%= link_to CATEGORY2+"　"+CATEGORY2_AR, lesson_path(:id => 1, :lv => 2, :category => 2) %></li>
      <li><%= link_to CATEGORY3+" "+CATEGORY3_AR, lesson_path(:id => 1, :lv => 2, :category => 3) %></li>
      <li><%= link_to CATEGORY4+"　"+CATEGORY4_AR, lesson_path(:id => 1, :lv => 2, :category => 4) %></li>
    </ul>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-2">
    <%= image_tag("cover3", alt:"LEVEL 3", class:"pure-img") %>
    <h3>LV3</h3>
    <ul>
      <li><%= link_to CATEGORY1+"　"+CATEGORY1_AR, lesson_path(:id => 1, :lv => 3, :category => 1) %></li>
      <li><%= link_to CATEGORY2+"　"+CATEGORY2_AR, lesson_path(:id => 1, :lv => 3, :category => 2) %></li>
      <li><%= link_to CATEGORY3+" "+CATEGORY3_AR, lesson_path(:id => 1, :lv => 3, :category => 3) %></li>
      <li><%= link_to CATEGORY4+"　"+CATEGORY4_AR, lesson_path(:id => 1, :lv => 3, :category => 4) %></li>
    </ul>
  </div>
  <div class="pure-u-1 pure-u-sm-1-2">
    <%= image_tag("cover4", alt:"LEVEL 4", class:"pure-img") %>
    <h3>LV4</h3>
    <ul>
      <li><%= link_to CATEGORY1+"　"+CATEGORY1_AR, lesson_path(:id => 1, :lv => 4, :category => 1) %></li>
      <li><%= link_to CATEGORY2+"　"+CATEGORY2_AR, lesson_path(:id => 1, :lv => 4, :category => 2) %></li>
      <li><%= link_to CATEGORY3+" "+CATEGORY3_AR, lesson_path(:id => 1, :lv => 4, :category => 3) %></li>
      <li><%= link_to CATEGORY4+"　"+CATEGORY4_AR, lesson_path(:id => 1, :lv => 4, :category => 4) %></li>
    </ul>
  </div>
</div>