<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Level" + @disp_obj.lv.to_s, "#", class:"navbar-brand" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <% case @disp_obj.category %>
            <% when READ_NO %>
              <%= link_to CATEGORY1, "#" %>
            <% when WRITE_NO %>
              <%= link_to CATEGORY2, "#" %>
            <% when CONVERSATION_NO %>
              <%= link_to CATEGORY3, "#" %>
            <% when GRAMMER_NO %>
              <%= link_to CATEGORY4, "#" %>
            <% when SUPPLEMENT_NO %>
              <%= link_to CATEGORY5, "#" %>
            <% end %>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Others… <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>　その他のLVを選択…</li>
              <li class="divider"></li>
              <li class="dropdown-header">Level<%= @disp_obj.lv.to_s %></li>
              <% if @disp_obj.lv != 1 %>
                <li><%=link_to "LEVEL1", lesson_path(:id => 1, :lv => 1, :category => 1) %></li>
              <% end %>
              <% if @disp_obj.lv != 2 %>
                <li><%=link_to "LEVEL2", lesson_path(:id => 1, :lv => 2, :category => 1) %></li>
              <% end %>
              <% if @disp_obj.lv != 3 %>
                <li><%=link_to "LEVEL3", lesson_path(:id => 1, :lv => 3, :category => 1) %></li>
              <% end %>
              <% if @disp_obj.lv != 4 %>
                <li><%=link_to "LEVEL4", lesson_path(:id => 1, :lv => 4, :category => 1) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <%=link_to "単語検索メニュー", root_path %>
          </li>
          <!--li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
          <li><a href="../navbar-static-top/">Static top</a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li-->
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  <div class="row">
    <div class="col-lg-3 portfolio-item inline">
      <%= image_tag("cover"+@disp_obj.lv.to_s, alt:"img", class:"img-responsive") %>
      <h3>LV<%= @disp_obj.lv %></h3>
      <ul>
        <li>
          <% if @disp_obj.category == READ_NO %>
          <%= CATEGORY1+"　"+CATEGORY1_AR %>
          <% else %>
          <%= link_to CATEGORY1+"　"+CATEGORY1_AR, lesson_path(:id => 1, :lv => @disp_obj.lv, :category => 1) %>
          <% end %>
        </li>
      	<li>
          <% if @disp_obj.category == WRITE_NO %>
          <%= CATEGORY2+"　"+CATEGORY2_AR %>
          <% else %>
          <%= link_to CATEGORY2+"　"+CATEGORY2_AR, lesson_path(:id => 1, :lv => @disp_obj.lv, :category => 2) %>
          <% end %>
        </li>
      	<li>
          <% if @disp_obj.category == CONVERSATION_NO %>
          <%= CATEGORY3+" "+CATEGORY3_AR %>
          <% else %>
          <%= link_to CATEGORY3+" "+CATEGORY3_AR, lesson_path(:id => 1, :lv => @disp_obj.lv, :category => 3) %>
          <% end %>
        </li>
        <li>
        <% if @disp_obj.lv != 1 %>
          <%if @disp_obj.category == GRAMMER_NO %>
            <%= CATEGORY4+"　"+CATEGORY4_AR %>
          <% else %>
            <%= link_to CATEGORY4+"　"+CATEGORY4_AR, lesson_path(:id => 1, :lv => @disp_obj.lv, :category => 4) %>
          <% end %>
        <% else %>
          <%if @disp_obj.category == SUPPLEMENT_NO %>
            <%= CATEGORY5+"　"+CATEGORY5_AR %>
          <% else %>
            <%= link_to CATEGORY5+"　"+CATEGORY5_AR, lesson_path(:id => 1, :lv => @disp_obj.lv, :category => 5) %>
          <% end %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="col-lg-5 portfolio-item inline">
      <dl>
      <% @lessons.each do |lesson| %>
      <dd>Lesson <%= lesson.lesson_no %>
      <% if lesson.lesson_seq != 0 %>
        - <%= lesson.lesson_seq %>
      <% end %>
      </dd>
        <dt>
          <%= link_to lesson.lesson_name, lesson_in_words_word_path(lesson.id) %>
          <span class="lesson"><%= link_to lesson.lesson_name_ar, lesson_in_words_word_path(lesson.id) %></span>
        </dt>
      <% end %>
      </dl>
    </div>
  </div>

</div>