
  <tr>
    <td><%= word.word %></td>
    <td><%= word.word_with_pron %></td>
    <td><%= word.pos %></td>
    <td><%= word.meaning %></td>
    <td>
      <% if word.plural_cd != 0 %>
        <%= word.plural_ord == 0 ? "→複" : "→単" %>
      <% end %>
    </td>
    <% if params[:action] != "wordsRoots" %>
      <td>
        <% if word.root != "-" && word.root.present? %>
          <%= link_to word.root, wordsRoots_word_path(word.root) %>
        <% end %>
      </td>
    <% end %>
    <% if params[:action] != "synonym" %>
      <td>
        <% word.cntSynm(1, word.id).each do |syn| %>
          <p><%= link_to syn.subtotal, synonym_relation_path(syn.rel_id) -%>件</p>
        <% end %>
      </td>
    <% end %>
    <td>
      <% word.cntSynm(2, word.id).each do |anto| %>
        <p><%= link_to anto.type_name, antonym_relation_path(anto.rel_id, anto.ant_contrast_cd) -%>
        </p>
      <% end %>
    </td>
    <td>
    <% if params[:action] != "lesson_in_words" %>
      <% if word.example != 0 %>
      <%= link_to "*", examples_path(word.id, :exp => word.word), target:"_blank" %>
      <% end %>
    <% else %>
      <%if word.examples.size != 0 %>
      <%= link_to "*", examples_path(word.id, :exp => word.word), target:"_blank" %>
      <% end %>
    <% end %>
    </td>
    <% if params[:action] != "lesson_in_words" %>
    <td>
      <% if word.lesson != 0 %>
      <%= link_to word.lesson, word_in_lessons_lesson_path(word.id) %>件
      <% end %>
    </td>
    <% end %>
  </tr>
