
  <tr>
    <td><%= word.word %></td>
    <td><%= word.word_with_pron %></td>
    <td><%= word.pos %></td>
    <td><%= word.meaning %></td>
    <td><%= link_to word.root, "#" %></td>
    <td><%#= word.lessons.first.lv %></td>
    <td></td>
    <td></td>
  </tr>
