  <tr>
    <td><%= link_to_if(logged_in?, "編集", edit_word_path(word), {:class => "btn btn-default wrd_edit", :target => "_blank"}) {} %><%= word.word %></td>
    <td><%= word.word_with_pron %></td>
    <td><%= word.pos %></td>
    <td><%= simple_format(word.meaning) %></td>
    <td><%= confirm_plural(word) %></td>
    <% if params[:action] != "words_roots" %>
      <td>
        <% if word.root != "-" && word.root.present? %>
          <%= link_to word.root, words_roots_word_path(word.root) %>
        <% end %>
      </td>
    <% end %>
    <% if params[:action] != "synonym" %>
      <td>
        <% word.relations.each do |relation| %>
          <% if relation.syn_ant_cd == 1 %>
            <p><%= puts_synonym(relation) %></p>
          <% end %>
        <% end %>
      </td>
    <% end %>
    <td>
      <% word.relations.each do |relation| %>
        <% if relation.syn_ant_cd == 2 %>
          <p><%= puts_antonym(relation) %></p>
        <% end %>
      <% end %>
    </td>
    <td>
    <% if !lesson_in_words?(params[:action], params[:controller]) %>
      <% if word.examples.present? %>
        <%= link_to "*", examples_path(word.id, :exp => word.word), target:"_blank" %>
      <%# else %>
        <%#= link_to_if(logged_in?, "＋", new_word_example_path(word.id, :exp => word.word), {:'data-toggle' => "tooltip", :'data-original-title' => "例文を追加", :target => "_blank"}){} %>
      <% end %>
    <% else %>
      <%if word.examples.present? %>
        <%= link_to "*", examples_path(word.id, :exp => word.word), target:"_blank" %>
      <%# else %>
        <%#= link_to_if(logged_in?, "＋", new_word_example_path(word.id, :exp => word.word), {:'data-toggle' => "tooltip", :'data-original-title' => "例文を追加", :target => "_blank"}){} %>
      <% end %>
    <% end %>
    </td>
    <% if !lesson_in_words?(params[:action], params[:controller]) %>
    <td>
      <% if word.appearances.present? %>
      <%= link_to word.appearances.size, word_in_lessons_lesson_path(word.id) %>件
      <% end %>
    </td>
    <% end %>
    <%# if logged_in? && lesson_in_words?(params[:action], params[:controller]) %>
    <td><%#= link_to "削除", appearance_path(:word_id => word.id), method: :delete, class:"btn btn-danger", data: {confirm:"当LESSONから、この単語を削除しますか？"} %></td>
    <%# end %>
  </tr>
