<% provide(:button_text, '単語修正') %>

<h1>単語情報変更/修正</h1>

<% plural_flg = plural_editable?(@word.plural_word_id ||= 0, @word.pos) ? 1 : 0 %>

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
<ul class="pure-menu-list">
  <li class="pure-menu-item pure-menu-disabled">単語</li>
  <% if @relations.present? %>
  	<li class="pure-menu-item"><%= link_to "類義語", edit_relation_path(params[:id], titleWrd: @word.word, :exp_flg => params[:exp_flg], :plural_flg => plural_flg), class: "pure-menu-link" %></li>
  <% else %>
  	<li class="pure-menu-item"><%= link_to "類義語", new_relation_path(params[:id], titleWrd: @word.word, :exp_flg => params[:exp_flg], :plural_flg => plural_flg), class: "pure-menu-link" %></li>
  <% end %>
  <li class="pure-menu-item"><%= link_to "対義語", edit_antonym_relation_path(params[:id], titleWrd: @word.word, :exp_flg => params[:exp_flg], :plural_flg => plural_flg), class: "pure-menu-link" %></li>
  <% if plural_editable?(@word.plural_word_id ||= 0, @word.pos) %>
    <li class="pure-menu-item pure-menu-disabled">複数形登録</li>
  <% end %>
  <li class="pure-menu-item"><%= link_to "登場LESSON登録", add_word_to_lesson_appearance_path(params[:id], titleWrd: @word.word), class: "pure-menu-link" %></li>
  <li class="pure-menu-item"><%= link_to "例文", examples_path(params[:id], :exp => @word.word), target:"_blank", class: "pure-menu-link" %>
  </li>
</ul>
</div>

<%= render partial: 'words/word_form', locals: {word: @word} %>


