<div class="container">

<ol class="breadcrumb">
  <li><%= link_to "LV" + @lesson.lv.to_s, lessons_path %></li>
  <li>
    <%= link_to cate_name(@lesson.category), lesson_path(:lv => @lesson.lv, :category => @lesson.category) %>
  </li>
  <li class="active">LESSON <%= @lesson.lesson_no %> - <%= @lesson.lesson_seq %></li>
</ol>

<h1><%= @lesson.lesson_name %></h1>

<%= render 'shared/error_messages' %>

<%= page_entries_info @words %>

<% if logged_in? %>
  <%= link_to "単語を追加", new_appearance_path(params[:id]), class:"pull-right btn btn-default", remote: true %>
  <div id="appr_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>

<%= link_to "単語一覧ダウンロード", vocabulary_book_word_path(format: :csv), class:"pull-right btn btn-default" %>

<table class="table results">
  <thead>
  <tr>
    <th>単語</th>
    <th>読み</th>
    <th>品詞</th>
    <th>意味</th>
    <th>複数</th>
    <th>語根</th>
    <th>類</th>
    <th>対</th>
    <th>例</th>
    <% if logged_in? %>
      <th><!--削除用カラム--></th>
    <% end %>
  </tr>
  </thead>
  <%= render @words %>
</table>
<%= paginate @words %>
</div>

<% if logged_in? %>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<% end %>