<div class="pure-menu pure-menu-horizontal">
<ul class="breadcrumb pure-menu-list">
  <li class="pure-menu-item"><%= link_to "LV" + @lesson.lv.to_s, lessons_path %></li>
  <li  class="pure-menu-item">
    <%= link_to cate_name(@lesson.category), lesson_path(:lv => @lesson.lv, :category => @lesson.category) %>
  </li>
  <li class="pure-menu-item pure-menu-disabled">
    <span>LESSON <%= @lesson.lesson_no %> - <%= @lesson.lesson_seq %></span>
  </li>
</ul>
</div>

<h1><%= @lesson.lesson_name %></h1>

<%= render 'shared/error_messages' %>

<div id="op_area" class="pure-g">
  <div class="pure-u-1 pure-u-sm-2-3">
    <%= page_entries_info @words %>
  </div>

  <div class="pure-u-1  pure-u-sm-1-3">
  <% if logged_in? %>
    <%= link_to "単語を追加", new_appearance_path(params[:id]), class:"pure-button pure-button-primary", remote: true %>
    <!--div id="appr_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div-->
  <% end %>

    <%= link_to vocabulary_book_word_path(format: :csv), class:"pure-button pure-button-primary", id:"download-csv" do %>
      単語一覧ダウンロード<span class="cloud-download-solid icon"><i></i></span>
    <% end %>
  </div>
</div>

<table id="srch_result" class="pure-table pure-table-horizontal">
  <thead>
  <tr>
    <th>単語</th>
    <th>読み</th>
    <th>品詞</th>
    <th>意味</th>
    <th>語根</th>
    <th>複数 / 単数</th>
    <th>類義語</th>
    <th>対義語</th>
    <th>例文</th>
    <% if logged_in? %>
      <th><!--削除用カラム--></th>
    <% end %>
  </tr>
  </thead>
  <%= render @words %>
</table>
<%= paginate @words %>

<%# if logged_in? %>
<!--script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script-->
<%# end %>