<div class="container">
<section>
  <p>
    LV<%= @choisedLesson.lv %> ＞ 
    <% case @choisedLesson.category %>
    <% when READ_NO %>
      <%= CATE1 %>
    <% when WRITE_NO %>
      <%= CATE2 %>
    <% when CONVERSATION_NO %>
      <%= CATE3 %>
    <% when GRAMMER_NO %>
      <%= CATE4 %>
    <% when SUPPLEMENT_NO %>
      <%= CATE5 %>
    <% end %>
    ＞ LESSON <%= @choisedLesson.lesson_no %> - <%= @choisedLesson.lesson_seq %>
    <%= link_to "HOME", root_path, class:"pull-right" %>
    </p>
    <h1><%= @choisedLesson.lesson_name %></h1>
</section>

<%= page_entries_info @words %>
<table class="table results">
  <thead>
  <tr>
    <th>単語</th>
    <th>読み</th>
    <th>品詞</th>
    <th>意味</th>
    <th>複数</th>
    <th>語根</th>
    <th>類</th>
    <th>対</th>
    <th>例</th>
  </tr>
  </thead>
  <%= render @words %>
</table>
<%= paginate @words %>
</div>