<div class="container">
<dl>
  <dt>単語</dt>
  <dd><%= @word.word %></dd>
</dl>

<dl>
  <dt>単語(シャクル付)</dt>
  <dd><%= @word.word_with_pron %></dd>
</dl>

<dl>
  <dt>品詞</dt>
  <dd><%= @word.pos %></dd>
</dl>

<dl>
  <dt>意味</dt>
  <dd><%= @word.meaning %></dd>
</dl>

<dl>
  <dt>語根</dt>
  <dd><%= @word.root %></dd>
</dl>
</div>