<div class="modal-dialog">
<div class="modal-content">
<%= form_tag(appearances_path, method: "post") do %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">登場単語登録</h4>
  </div><!-- /modal-header -->

  <div class="modal-body">
    <div class="field">
      <div class="col-xs-3"><%= text_field_tag(:w_t_l, "", class:"form-control") %></div>
      <%= link_to "検索", "#", class:"btn btn-default", id:"word_to_add" %>
      <%= hidden_field_tag "appearance[lesson_id]", params[:format] %>
    </div>
    <div id="word_details"></div>
  </div><!-- /modal-body -->

  <div class="modal-footer">
    <button type="button" class="pure-button pure-button" data-dismiss="modal">Close</button>
    <%= submit_tag "単語登録", :class => "pure-button pure-button-primary" %>
  </div><!-- /modal-footer -->

<% end %>
</div><!-- /modal-content -->
</div><!--/modal-dialig -->

<script type="text/javascript">
$(function() {

$('a#word_to_add').on('click', getWordList);

function getWordList(){
  $.ajax({
  	url: "/milaaha/appearances/srch_words_to_lesson",
  	type: "GET",
  	data: { w_t_l: $('#w_t_l').val() },
  	datatype: "html",
  	success: function(data) {
    },
    error: function(data) {
      alert("errror");
    }
  });
}

});
</script>