<h1><%= params[:titleWrd] %>：登場LESSON登録</h1>

<table id="each_word" class="pure-table fix_table">
  <caption>登場するLESSON：</caption>
  <thead>
  <tr>
    <th>LV</th>
    <th>科目</th>
    <th>LESSON No.</th>
    <th>LESSON名</th>
  </tr>
  </thead>
  <% @lessons.each do |l| %>
  <tr>
    <td><%= l.lv %></td>
    <td>
    <% case l.category %>
      <% when READ_NO %>
        <%= CATE1 %>
      <% when WRITE_NO %>
        <%= CATE2 %>
      <% when CONVERSATION_NO %>
        <%= CATE3 %>
      <% when GRAMMER_NO %>
        <%= CATE4 %>
      <% when SUPPLEMENT_NO %>
        <%= CATE5 %>
    <% end %>
    </td>
    <td><%= l.lesson_no %></td>
    <td><%= l.lesson_name %></td>
  </tr>
  <% end %>
</table>

<h4>新たにLESSONを登録：</h4>
<%= form_for(@appearance, html: {class: "pure-form pure-form-stacked"}) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.hidden_field :word_id, :value => params[:id] %>

	<label for="lv">LV：</label>
	<%= select_tag :lv, options_for_select(@lvs), :include_blank => true %>

	<label for="category">科目を選択：</label>
	<%= select_tag :category, options_for_select({CATE1 => 1, CATE2 => 2, CATE3 => 3, CATE5 => 5}), :include_blank => true %>

  <div id="lesson_details">
  	<label for="lesson[id]">LESSONを選択：</label>
  </div>
  <%= f.hidden_field :lesson_id, :value => "" %>
  <%= f.submit "LESSON登録", class: "pure-button pure-button-primary kakutei" %>
<% end %>

<script type="text/javascript">
$(function() {

$('select#lv').change(chngCategory);

$('select#category').change(chngLesson);

$('div#lesson_details').on('change', 'select#lesson_id',setLessonValue);

function chngCategory(){
  $('select#lesson_id').empty();
  $('select#category').empty();
  if ($('select#lv').val() == 1){
	list = [{value: '', name: ''}, {value: 1, name:'<%= CATE1 %>'}, {value: 2, name:'<%= CATE2 %>'}, {value:3, name:'<%= CATE3 %>'}, {value:5, name:'<%= CATE5 %>'}];
  } else {
  	list = [{value: '', name: ''}, {value: 1, name:'<%= CATE1 %>'}, {value: 2, name:'<%= CATE2 %>'}, {value:3, name:'<%= CATE3 %>'}, {value:4, name:'<%= CATE4 %>'}];
  };
  $.each(list, function(index, elem){
    option = $('<option />');
    option.val(elem.value);
    option.html(elem.name);
    $('select#category').append(option);
  })
}

function chngLesson(){
  $.ajax({
    url: "get_lesson_list",
    type: "GET",
    data: {lv: $('select#lv').val(),
    	category: $('select#category').val()
    },
    dataType: "html",
    success: function(data) {
      $('#lesson_details').html(data);
    },
    error: function(data) {
      alert("errror");
    }
  });
}

function setLessonValue(){
  var lessonId = $('select#lesson_id').val();
  $('#appearance_lesson_id').val(lessonId);
}

});
</script>
