<%= form_for @example, html: {class: "exp_form pure-form pure-g"} do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="pure-u-sm-1-2 pure-u-1">
    <%= f.label :sentence_ja, "日本語" %>
    <%= f.text_area :sentence_ja %>
  </div>

  <div class="pure-u-sm-1-2 pure-u-1">
  <%= f.label :sentence_ar, "アラビア語" %>
  <%= f.text_area :sentence_ar %>
  </div>

  <%= f.submit yield(:button_text), class: "pure-button pure-button-primary kakutei" %>
<% end %>