<div class="container">
  <h3>例文：<%= params[:exp] %></h3>
  <% if logged_in? %>
    <%= link_to "例文を追加", new_word_example_path(params[:format], :exp => params[:exp]) %>
  <% end %>
  <input type="button" value="close" onclick="window.close()" class="pull-right btn btn-default">
  <table class="table results">
  <tr>
  	<th>日本語</th>
  	<th>アラビア語</th>
    <% if logged_in? %>
      <th></th>
    <% end %>
  </tr>
  <% @examples.each do |example| %>
  <tr>
  	<td><%= example.sentence_ja %></td>
  	<td><%= example.sentence_ar %></td>
    <% if logged_in? %>
      <td><%= link_to "この例文を修正", "#" %></td>
    <% end %>
  </tr>
  <% end %>
  </table>
</div>