<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="google-site-verification" content="-iA_kl2E_QNpjmjajILnvOSOJZ-Op0EeEAV7esVz-ME" />
  <title><%= page_titles(params[:action], params[:controller]) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Language" content="ja">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% flash.each do |message_type, message| %>
  	<div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <% if !sub_window?(params[:action]) %>
  	<%= render 'layouts/header' %>
  <% end %>

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
