<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= page_titles(params[:action], params[:controller]) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Language" content="ja">
</head>
<body>

<%= yield %>

</body>
</html>
